.footer {
  background-color: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}
.footer-texto::selection {
  background-color: #046262;
}
.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}
.footer-contato a {
  color: #ffffff;
}
.footer-copy {
  grid-column: 1/-1;
  font-size: 1.125rem;
  color: #8f8f8f;
  display: flex;
  justify-content: space-between;
}
.footer-copy a {
  text-decoration: none;
  color: #046262;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;
}
.footer-copy a:hover {
  background-color: #046262;
  color: #000000;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
